<%- include("header_auth") %>
  
<!-- Main Container  -->
<div class="main-container">
    <div id="content" class="container" style="padding: 20px;">
        <%- page.body %>
    </div>
</div>
<!-- //Main Container -->
   
   
<%- include("footer_auth") %>