<%- include("header_auth") %>

	<!-- Main Container  -->
	<div class="main-container container">
		<ul class="breadcrumb">
			<li><a href="#"><i class="fa fa-home"></i></a></li>
			<li><a href="#">Account</a></li>
			<li><a href="#">Register</a></li>
		</ul>
		
		<div class="row">
			<div id="content" class="col-sm-12">
			    <div class="col-sm-10 mx-auto">
				<h2 class="title">Register Account</h2>
				<p>If you already have an account with us, please login at the <% if(ref){ %><a href="/login?ref=<%= ref %>">login page</a><% }else{ %><a href="/login">login page</a><% } %>.</p>
				<form onsubmit="sub(event)" class="form-horizontal account-register clearfix">
					<fieldset id="account">
						<legend>Your Personal Details</legend>
						<!--<div class="form-group required" style="display: none;">-->
						<!--	<label class="col-sm-2 control-label">Customer Group</label>-->
						<!--	<div class="col-sm-10">-->
						<!--		<div class="radio">-->
						<!--			<label>-->
						<!--				<input type="radio" name="customer_group_id" value="1" checked="checked"> Default-->
						<!--			</label>-->
						<!--		</div>-->
						<!--	</div>-->
						<!--</div>-->
						<div class="form-group required">
							<label class="col-sm-2 control" for="ref">REFERRAL CODE</label>
							<div class="col-sm-10">
								<input type="text" name="ref" value="" placeholder="Referral Code" id="ref" class="form-control" >
							</div>
						</div>
						<div class="form-group required">
							<label class="col-sm-2 control-label" for="fname">First Name</label>
							<div class="col-sm-10">
								<input type="text" name="firstname" value="" placeholder="First Name" id="fname" class="form-control" required>
							</div>
						</div>
						<div class="form-group required">
							<label class="col-sm-2 control-label" for="lname">Last Name</label>
							<div class="col-sm-10">
								<input type="text" name="lastname" value="" placeholder="Last Name" id="lname" class="form-control" required>
							</div>
						</div>
						<div class="form-group required">
							<label class="col-sm-2 control-label" for="input-email">E-Mail</label>
							<div class="col-sm-10">
								<input type="email" name="email" value="" placeholder="E-Mail" id="input-email" class="form-control" required>
							</div>
						</div>
						<div class="form-group required">
							<label class="col-sm-2 control-label" for="input-telephone">Telephone</label>
							<div class="col-sm-10">
								<input type="tel" name="telephone" value="" placeholder="Telephone" id="input-telephone" class="form-control" required>
							</div>
						</div>
					</fieldset>
					<!--<fieldset id="address">-->
					<!--	<legend>Your Address</legend>-->
					<!--	<div class="form-group required">-->
					<!--		<label class="col-sm-2 control-label" for="input-address-1">Address 1</label>-->
					<!--		<div class="col-sm-10">-->
					<!--			<input type="text" name="address_1" value="" placeholder="Address 1" id="input-address-1" class="form-control">-->
					<!--		</div>-->
					<!--	</div>-->
					<!--	<div class="form-group">-->
					<!--		<label class="col-sm-2 control-label" for="input-address-2">Address 2</label>-->
					<!--		<div class="col-sm-10">-->
					<!--			<input type="text" name="address_2" value="" placeholder="Address 2" id="input-address-2" class="form-control">-->
					<!--		</div>-->
					<!--	</div>-->
					<!--	<div class="form-group required">-->
					<!--		<label class="col-sm-2 control-label" for="input-city">City</label>-->
					<!--		<div class="col-sm-10">-->
					<!--			<input type="text" name="city" value="" placeholder="City" id="input-city" class="form-control">-->
					<!--		</div>-->
					<!--	</div>-->
					<!--	<div class="form-group required">-->
					<!--		<label class="col-sm-2 control-label" for="input-postcode">Post Code</label>-->
					<!--		<div class="col-sm-10">-->
					<!--			<input type="text" name="postcode" value="" placeholder="Post Code" id="input-postcode" class="form-control">-->
					<!--		</div>-->
					<!--	</div>-->
					<!--	<div class="form-group required">-->
					<!--		<label class="col-sm-2 control-label" for="input-country">Country</label>-->
					<!--		<div class="col-sm-10">-->
					<!--			<select name="country_id" id="input-country" class="form-control">-->
					<!--				<option value=""> --- Please Select --- </option>-->
					<!--				<option value="244">Aaland Islands</option>-->
					<!--				<option value="1">Afghanistan</option>-->
					<!--				<option value="2">Albania</option>-->
					<!--				<option value="3">Algeria</option>-->
					<!--				<option value="4">American Samoa</option>-->
					<!--				<option value="5">Andorra</option>-->
					<!--				<option value="6">Angola</option>-->
					<!--			</select>-->
					<!--		</div>-->
					<!--	</div>-->
					<!--	<div class="form-group required">-->
					<!--		<label class="col-sm-2 control-label" for="input-zone">Region / State</label>-->
					<!--		<div class="col-sm-10">-->
					<!--			<select name="zone_id" id="input-zone" class="form-control">-->
					<!--				<option value=""> --- Please Select --- </option>-->
					<!--				<option value="3513">Aberdeen</option>-->
					<!--				<option value="3514">Aberdeenshire</option>-->
					<!--				<option value="3515">Anglesey</option>-->
					<!--				<option value="3516">Angus</option>-->
								  
					<!--			</select>-->
					<!--		</div>-->
					<!--	</div>-->
					<!--</fieldset>-->
					<fieldset>
						<legend>Your Password</legend>
						<div class="form-group required">
							<label class="col-sm-2 control-label" for="input-password">Password</label>
							<div class="col-sm-10">
								<input type="password" name="password" value="" placeholder="Password" id="input-password" class="form-control" required>
							</div>
						</div>
						<div class="form-group required">
							<label class="col-sm-2 control-label" for="input-confirm">Password Confirm</label>
							<div class="col-sm-10">
								<input type="password" name="confirm" value="" placeholder="Password Confirm" id="input-confirm" class="form-control" required>
							</div>
						</div>
						<div class="form-group" id="err">
						</div>
					</fieldset>
					<div class="buttons">
						<div class="pull-right">I have read and agree to the <a href="/terms" class="agree"><b>Terms and Conditions</b></a>
							<input class="box-checkbox" type="checkbox" name="agree" value="1"> &nbsp;
							<input type="submit" value="Continue" id="btn" class="btn btn-primary">
						</div>
					</div>
				</form>
			    </div>
			</div>
		</div>
	</div>
	<!-- //Main Container -->
	

<%- include("footer_auth") %>
<script>
    const sub = (event) => {
        event.preventDefault();
        var btn = document.getElementById("btn")
        var err = document.getElementById("err")
        var email = document.getElementById("input-email").value
        var password = document.getElementById("input-password").value
        var password_2 = document.getElementById("input-confirm").value
        var phone = document.getElementById("input-telephone").value
        var lname = document.getElementById("lname").value
        var fname = document.getElementById("fname").value
        var ref = document.getElementById("ref").value == "" ? "" : document.getElementById("ref").value
        btn.disabled = true
        btn.value = "Loading..."
        err.innerHTML = ""
        if(password != password_2){
           btn.disabled = false
        btn.value = "Continue"
        err.innerHTML = `<div class="alert alert-danger alert-dismissable">Passwords Do not match</div>`
        }
        else {
        axios.post("/register<% if(ref){ %>?ref=<%= ref %><% } %>", {
            email,
            password,
            lname,
            fname,
            password,
            address: "",
            phone,
            ref
        }).then(data => {
            if(data.data.message){
                err.innerHTML = `<div class="alert alert-success alert-dismissable">${data.data.message}</div>`
                btn.disabled = false
                btn.value = "Continue"
                location.href = data.data.path
            }else if(data.data.error) {
                 err.innerHTML = `<div class="alert alert-danger alert-dismissable">${data.data.error}</div>`
                btn.disabled = false
                btn.value = "Continue"
            }
            else if(data.data.email) {
                 err.innerHTML = `<div class="alert alert-danger alert-dismissable">${data.data.email}</div>`
                btn.disabled = false
                btn.value = "Continue"
            }
            else if(data.data.password) {
                 err.innerHTML = `<div class="alert alert-danger alert-dismissable">${data.data.password}</div>`
                btn.disabled = false
                btn.value = "Continue"
            }
        }).catch(er => {
            if(er){
                if(er.response){
                    err.innerHTML = `<div class="alert alert-danger alert-dismissable">${er.response.data.error}</div>`
                btn.disabled = false
                btn.value = "Continue" 
                }else{
                     err.innerHTML = `<div class="alert alert-danger alert-dismissable">There was an error processing your request please try again</div>`
                btn.disabled = false
                btn.value = "Continue"
                }
            }
        })
        }
    }
</script>